################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FilterStrategy/v16
/FilterStrategy.Bll/obj
/FilterStrategy.Bll.Test/obj
/Models/obj
/.vs/FilterStrategy/DesignTimeBuild
/FilterStrategy.Bll.Test/bin/Debug/netcoreapp3.0
